body {
    background-color: #1d1d1d;
}
a .bambi {
    color:rgb(78, 255, 146)
}
a .madact {
    color:rgb(255, 58, 58)
}
a .gold {
    color: rgb(255, 110, 231);
}
a .username {
    color: rgb(88, 166, 255)
}
a {
    line-height: 28px;
    font-size: 20px;
    color:rgba(255, 255, 255, 0.76);
    font-family: Arial, Helvetica, sans-serif;
}