@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    background-color: #2f2f2f;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    color:white
}

.centerContainer {
    height: 100vh;
    width: 100vw;
}

.genbox {
    position: absolute;
    margin:auto;
    width: 600px;
    height: 320px;
    top: calc(50% - 175px);
    left: calc(50% - 300px);
    border-radius: 20px;
    background-color: #1d1d1d
}
.genbox #profilepicture {
    position: relative;
    height:240px;
    width:240px;
    object-fit: cover;
    border-radius: 100% ;
    top: calc(50% - 120px);
    left:13px;
}
.genbox #username {
    position: relative;
    background: none;
    border:none;
    border-bottom: 2px solid #3e3e3e;
    outline: none;
    padding: 6px 14px;
    color: white;
    text-align: center;
    font-size: 20px;
    top:-80px;
    left:35px;
    transition: .3s border-bottom ease-in-out;
}
.title {
    position: absolute;
    font-size:40px;
    font-weight:200;
    font-family: 'Indie Flower', cursive;
    text-align: center;
    top:-120px;
    left:30%
}
#username:hover {
    border-bottom: 2px solid #5ec4ff;
}
.genbox #generateButton {
    position: relative;
    padding: 8px 17px;
    border-radius: 5px;
    float: right;
    right:30px;
    color:white;
    border:none;
    background: none;
    border: 2px solid #535353;
    font-size:16px;
    transition: .5s border ease-in-out;
    cursor: pointer;
}

.genbox #generateButton:hover {
    border: 2px solid #5ec4ff;
}